
.navbar-collapse{
  padding-left: 30px;
}
.navbar a{
  color: white ;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
@media (min-width: 250px) and (max-width:500px) {
  .navbar{
    padding: 10px 10px !important;
  }
}
.active{
  background-color: #008dd2;
  color: #fecc00 !important;
  border-radius: 5px;
  /* display: inline-block; */
}
.nav-link{
  text-decoration: none;
  padding: 10px;
}